<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcNFd1rxVb6JxOT_j0X2mP5EpDl8V4gug</string>
	<key>GCM_SENDER_ID</key>
	<string>739710601701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalPortfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-4d43d</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-4d43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739710601701:ios:6bc4dc7b979460d474c70c</string>
</dict>
</plist>